.App {
  height: 100%;

  display: flex;
  padding: 2rem;
}

.TalentRow {
  display: flex;
}

.TalentRow__disabled .Skill img {
  opacity: .3;
}

.TalentTree .Skill {
  margin: 1rem;
}

.Skill {
  border: none;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.Skill p {
  font-size: 1rem;
}

.Skill__logo {
  display: flex;
}

.Skill__tooltip {
  z-index: 2;
  display: none;
  position: absolute;
  min-width: 6rem;
  padding: 0.4rem 0.5rem;
  font-size: 0.6rem;
  color: white;
  background: black;
  border-radius: 3px;

  top: 4.25rem; /* 4 rem height of Skill + accounting for arrow */
  left: 50%;
  transform: translateX(-50%);
}

.Skill__tooltip h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.Skill:hover .Skill__tooltip {
  display: flex;
  flex-direction: column;
}

.Skill__tooltip::after {
  content: "";
  width: 0;

  position: absolute;
  top: 0;
  left: 50%;

  border-style: solid;
  border-width: 0 7px 7px;
  border-color: black transparent;
  transform: translate(-50%, -100%);
}

.Skill__completed::after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0.15rem;
  right: 0.15rem;
  background: url("./assets/checkmark.png");
  background-size: cover;
}